@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --black: #141414;
  --white: #ffffff;
  --green: #1DB954;
  --green-hover: #24E061;
  --blue: #191934;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--green-hover);
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(var(--blue), var(--black));
}

.header-wrapper {
  width: 100vw;
  height: 80px;
  display: flex;
  padding: 10px 15%;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper h2 {
  color: var(--green);
  font-size: 48px;
  letter-spacing: -4px;
  transition: 0.5s ease all;
}

.header-wrapper h2:hover{
  color: var(--green-hover);
}

.about-button, .return-button {
  padding: 10px;
  background-color: var(--green);
  color: var(--blue);
  border-radius: 8px;
  font-weight: 700;
  border: 3px solid var(--green);
  transition: 0.3s ease all;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-button:hover, .return-button:hover{
  color: var(--green);
  background-color: rgba(0,0,0,0);
}

.home-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.home-div {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -20px;
  position: relative;
  z-index: -1;
}

.home-title {
  color: var(--green);
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -3px;
  margin: -10px;
}

.title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 40px;
}
 
.home-subtitle {
  color: var(--white);
  font-size: 21px;
  font-weight: 300;
  margin: 5px;
}

.subtitle-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}

@keyframes rotate_logo {
  0% {
    transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0) rotate(-20deg);
  }
  20% {
    transform: rotate3d(0, 1, 0, -10deg) translate3d(-10px, 5px, 0) rotate(-30deg);
  }
  40% {
    transform: rotate3d(0, 1, 0, -20deg) translate3d(-15px, 7px, 0) rotate(-35deg);
  }
  60% {
    transform: rotate3d(0, 1, 0, -25deg) translate3d(-18px, 8px, 0) rotate(-38deg);
  }
  80% {
    transform: rotate3d(0, 1, 0, -30deg) translate3d(-20px, 10px, 0) rotate(-40deg);
  }
  95% {
    transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0) rotate(-20deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, 0) rotate(-20deg);
  }
}

.home-div img {
  width: 200px;
  position: absolute;
  animation: rotate_logo 15s infinite linear;
  right: 0;
  margin-top: -20px;
}

.input-div {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 2% 15%;
  height: 60px;
  justify-content: flex-start;
  position: relative;
}

.generate-button {
  background-color:var(--green);
  color: white;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  transition: 0.3s ease;
  top: 0;
  right: 0;
}

.generate-button:hover{
  background-color: white;
  transform: translate(5px, -5px);
  color: var(--green)
}

.generate-button:hover a{
  color: #ff5f00;
}

.generate-button-background {
  position: absolute;
  background-color:var(--green);  width: 120px;
  height: 50px;
  border-radius: 6px;
  z-index: -1;
  top: 0;
  right: 0;
}

.input-line {
  width: 70%;
  border: none;
  background: transparent;
  color: white;
  padding: 15px 3px;
  font-size: 16px;
  height: 30px;
  margin-top: 20px;
  outline: none;
}

.input-div .underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 70%;
  bottom: 7px;
  left: 0;
  background: var(--white);
}

.input-div .underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 70%;
  bottom: 7px;
  left: 0;
  background: var(--green);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.input-div input:focus ~ .underline::after{
  transform: scaleX(1);
}

.footer {
  color: #555555;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  z-index: -1;
}

.footer a {
  text-decoration: none;
  color: #555555;
  font-weight: 700;
}

.playlist-wrapper{
  width: 100vw;
  height: fit-content;
  padding: 50px calc(50% - 500px);
}

.cover-wrapper {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.playlist-div {
  display: flex;
  flex-direction: column;
}

.playlist-infos {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 20px 0;
  z-index: -1;
}

.playlist-title {
  color: var(--green);
  margin-left: 25px;
  text-align: end;
  font-size: 64px;
  height: fit-content;
  margin-bottom: -10px;
  font-weight: 700;
  transform: rotate(180deg);
}

.cover-image {
  width: 101%;
  height: 101%;
  transform: rotate(180deg);
  transition: 0.3s ease all;
}

.cover-image:hover{
  transform: scale(1.05) rotate(180deg);
}

.tracks-wrapper {
  padding: 50px 1%;
}

.track-div {
   width: 100%;
  height: 152px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.track-div button {
  margin-left: 50px;
}

.error-wrapper {
  display: flex;
  width: 100%;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.error-div {
  padding: 20px;
  width: 500px;
}

.error-div h1 {
  margin-bottom: 10px;
  color: var(--green);  
}

.error-description {
  margin-bottom: 40px;
  color: var(--white);
  padding-left: 20px;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {transform: rotate(0); }
  to { transform: rotate(360deg);}
}

.loading-headphone-img {
  width: 50px;
  height: 50px;
  animation: rotate 2.5s infinite ease reverse;
}

.loading-headphone-div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: rotate 5s infinite ease-in-out;
  margin-bottom: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  12%, 20% {
    transform: translateX(-300px);
  }
  32%, 40% {
    transform: translateX(-600px);
  }
  52%, 60% {
    transform: translateX(-900px);
  }
  72%, 80% {
    transform: translateX(-1200px);
  }
  92%, 100% {
    transform: translateX(-1500px);
  }
}

.texts-wrapper {
  width: 300px;
  overflow:hidden ;
}

.texts-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: fit-content;
  overflow-y: hidden;
  animation: slide 20s linear infinite;
}

.single-text {
  color: white;
  width: 300px;
    text-align: center;
}

.loading-wrapper span {
  margin-top: 20px;
  color: #bbbbbb  ;
}

.about-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.positioning {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.translucent {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 4;
}

.about-div {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--blue);
  width: 700px;
  border-radius: 12px;
  border: 2px solid var(--green);
  z-index: 5;
}

.about-div h1 {
  color: var(--green);
  margin: -5px 0 5px 0;
}

.about-div span {
  margin-top: 5px;
  color: var(--white)
}

.about-div h3 {
  color: var(--green);
  margin-top: 20px;
}

.credits {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  color: #aaaaaa;
}
